.header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}

.header h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #24371E;
}

.links {
    display: flex;
    gap: 21px;
    align-items: center;
}

.links .button-reserve {
    margin-left: 40px;
    width: 179px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: white;
}

.links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #24371E;
    cursor: pointer;
}


.footer {
    background-color: #24371E;
    padding-top: 35px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.footer-column {
    flex: 1;
}

.footer-column h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: black;
}

.footer-column h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-bottom: 30px;
}


.footer-column p {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
}


input[type="email"] {
    max-width: 306px;
    width: 100%;
    padding: 11px;
    border: none;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.button-footer  {
    display: flex;
    background: #CF5014;
    max-width: 306px;
    width: 100%;
    padding: 11px;
    justify-content: center;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: 0.3s;
}

.button-footer:hover {
    cursor: pointer;
    background: #ff5100;
    transition: 0.3s;
}

.footer-column-two h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: white;
    margin-bottom: 30px;
}

.footer-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 103px;
}

.footer-information p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.i {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    background-image: url(Image/image.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0px;
    margin-bottom: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.content h1 {
    color: white;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    line-height: 150%;
}

.content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.button-reserve {
    background-color: #285B18;
    padding: 16px 30px;
    color: white;
    border: 1px solid #285B18;
    font-size: 16px;
    line-height: 150%;
    transition: 0.3s;
}

.button-reserve:hover {
    background: #1E4D0F;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border: 1px solid #285B18;
}

.text-one {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
}

.text-one h2 {
    width: 480px;
    padding-right: 30px;
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}

.text-one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.slider {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.slider-single {
    display: flex;
    flex-direction: column;
}

.slider-single img {
    width: 378px;
    height: 462px;
    object-fit: cover   ;
}

.slider-single a {
    margin-top: 30px;
    border: 1px solid;
    border-color: #1E4D0F;
    color: #1E4D0F;
    padding: 15px 111px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    transition: 0.3s;
}

.slider-single a:hover {
    background-color: #1E4D0F;
    cursor: pointer;
    color: white;
}

.content-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}


.text-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}


.text-button h2 {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.text-button p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.content-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 150px;
}


.text-button-reverse {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.text-button-reverse h2 {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.text-button-reverse p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.button {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse
}


.more-details {
    border: 1px solid;
    border-color: #1E4D0F;
    color: #1E4D0F;
    padding: 15px 36px;
    text-align: center;
    font-weight: 400px;
    border: 1px solid #285B18;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    transition: 0.3s;
}

.more-details:hover {
    background-color: #1E4D0F;
    transition: 0.3s;
    color: white;
    border: 1px solid #285B18;
}


.text-two {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.text-two h2 {
    width: 480px;
    padding-right: 30px;
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}

.text-two p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}


.hotels {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 378px;
    height: 388px;
    object-fit: cover   ;
}

.photo a {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    cursor: pointer;
}

.photo a:hover {
    text-decoration: underline;
}

.photo svg {
    color: #24371E;
    cursor: pointer;
}

.transition {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.text-numbers {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.text-numbers h2 {
    width: 480px;
    padding-right: 30px;
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}

.text-numbers p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.text-numbers svg {
    cursor: pointer;
}

.slider-section {
    margin-bottom: 75px;
}

.slider-numbers {
    display: flex;
    flex-direction: column;
}

.slider-numbers img {
    width: 378px;
    height: 342px;
    object-fit: cover   ;
}


.slider-numbers a:hover {
    background-color: #1E4D0F;
    cursor: pointer;
    color: white;
}

.slider-numbers h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
    margin-top: 30px;
}

.slider-numbers p {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
    margin-top: 10px;
}

.svg-content {
    display: flex;
    gap: 12px;
}

.button-reserve-slider {
    background-color: #285B18;
    padding: 16px 30px;
    color: white;
    border: 1px solid #285B18;
    font-size: 16px;
    line-height: 150%;
    transition: 0.3s;
    text-align: center
}

.button-reserve-slider:hover {
    background-color: #1E4D0F;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    border: 1px solid #285B18;
}

.sliner-numbers-description-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px ;
}


.section-two {
    background-image: url(Image/Rectangle\ 150.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0px;
}

.section-reviews {
    height: 100vh;
    margin: 0px;
    padding-top: 150px;
    background: #f2f2f2;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 44px;
}

.section-reviews .container {
    background: white;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.reviews {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}


.reviews-content {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.reviews-text {
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.reviews-text img {
    width: 50px;
    height: 50px;
}

.reviews-text h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
    margin-left: 20px;
}

.reviews-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 34px;
    color: #24371E;
}

.reviews-text a {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 10px;
    cursor: pointer;
    color: #24371E;
}

.look {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 30px;
    align-items: center;
}

.look a {
    color: #1E4D0F;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-right: 5px;
}

.section-armoring {
    background: #f2f2f2;
}

.payment {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 3%;
    color: #24371E;
    text-transform: uppercase;
}

.input-container {
    border: 2px;
    border-radius: 2px;
    padding: 18px;
    background: white;
}

input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    color: #24371E;
}

input::placeholder {
    color: #ccc;
    font-weight: 400;
}

.content-payment {
    display: flex;
    flex-direction: column;
}



.section-booking {
    background-color: #f2f2f2;
}


/* Заголовок на всю ширину */
.title-main {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 28px;
}

.booking-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 150px;
}

/* Левая колонка */
.booking-left {
    flex: 1;
}

.subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 20px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 40px;
}

.input-block{
    display: flex;
    flex-direction: column;
}


.input-block input {
    width: 100%;
    padding: 18px;
    border: 1px solid white;
    font-size: 16px;
    margin-bottom: 28px;
    width: 582px;
}


.booking-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 18px 18px;
    border: 1px solid white;
    background: white;
}

.faq-item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #24371E;
}

@media (max-width: 768px) {

}
