.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    background-image: url(Image/image.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0px;
    margin-bottom: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.content h1 {
    color: white;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    line-height: 150%;
}

.content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.button-reserve {
    background-color: #285B18;
    padding: 16px 30px;
    color: white;
    border: 1px solid #285B18;
    font-size: 16px;
    line-height: 150%;
    transition: 0.3s;
}

.button-reserve:hover {
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    color: #24371E;
    border: 1px solid #285B18;
}

.text-one {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
}

.text-one h2 {
    width: 480px;
    padding-right: 30px;
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}

.text-one p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.slider {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.slider-single {
    display: flex;
    flex-direction: column;
}

.slider-single img {
    width: 378px;
    height: 462px;
    object-fit: cover   ;
}

.slider-single a {
    margin-top: 30px;
    border: 1px solid;
    border-color: #1E4D0F;
    color: #1E4D0F;
    padding: 15px 111px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    transition: 0.3s;
}

.slider-single a:hover {
    background-color: #1E4D0F;
    cursor: pointer;
    color: white;
}

.content-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}


.text-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}


.text-button h2 {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.text-button p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.content-two {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 150px;
}


.text-button-reverse {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.text-button-reverse h2 {
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 150%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.text-button-reverse p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}

.button {
    display: flex;
    gap: 30px;
    flex-direction: row-reverse
}


.more-details {
    border: 1px solid;
    border-color: #1E4D0F;
    color: #1E4D0F;
    padding: 15px 36px;
    text-align: center;
    font-weight: 400px;
    border: 1px solid #285B18;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    transition: 0.3s;
}

.more-details:hover {
    background-color: #1E4D0F;
    transition: 0.3s;
    color: white;
    border: 1px solid #285B18;
}


.text-two {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.text-two h2 {
    width: 480px;
    padding-right: 30px;
    font-weight: 600;
    color: #24371E;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    line-height: 150%;
}

.text-two p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #24371E;
}


.hotels {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo img {
    width: 378px;
    height: 388px;
    object-fit: cover   ;
}

.photo a {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-decoration: underline;
    cursor: pointer;
}

.photo svg {
    color: #24371E;
    cursor: pointer;
}

.transition {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}